<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazona</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <button onclick="openMenu()">
                    &#9776;
                </button>
                <a href="index.html">amazona</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="Signin.html">SignIN</a>
            </div>
        </header>
        <aside class="sidebar">
            <h3>Shopping Categories</h3>
            <button class="sidebar-close-button" onclick="closeMenu()">x</button>
            <ul style=" list-style-type: none; ">
                <li>
                    <a href="index.html">Laptops</a>
                </li>

                <li>
                    <a href="index.html">Mobiles</a>
                </li>

                <li>
                    <a href="index.html">Pants</a>
                </li>

                <li>
                    <a href="index.html">Shirts</a>
                </li>

            </ul>
        </aside>

        <main class="main">
            <div class="content">
                <ul class="products">
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/laptop/L1.jpg" alt="product" />
                            <div class="product-description">
                                <a href="product.html">Dell Alienware M15 R2 15.6-inch FHD Laptop (9th Gen Core
                                    i9-9980HK/16GB/1TB SSD/Windows 10</a>
                            </div>
                            <div class="product-brand">Dell</div>
                            <div class="product-price">$474.27 <small>Save $95.13 (17%)</small></div>
                            <div class="product-rating">4.5 Stars <a href="reviews.html">(10 Reviews)</a></div>
                            <div class="delivery">FREE Delivery By Amazona</div>

                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img class="product-image" src="images/laptop/L2.jpg" alt="product" />
                            <div class="product-name">
                                <a href="product.html">Dell XPS 9570 15.6-inch UHD Laptop (8th Gen i9-8950HK/32GB/1TB
                                    SSD/Win 10 + MS Office/Integrated Graphics), Silver</a>
                            </div>
                            <div class="product-brand">Dell</div>
                            <div class="product-price">$474.27 <small>Save $95.13 (17%)</small></div>
                            <div class="product-rating">4.5 Stars <a href="reviews.html">(10 Reviews)</a></div>
                            <div class="delivery">FREE Delivery By Amazona</div>

                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img class="product-image" src="images/laptop/L3.jpg" alt="product" />
                            <div class="product-name">
                                <a href="product.html">ASUS ROG G703GI-E5148T 17.3-inch FHD 144Hz/3ms Gaming Laptop (8th
                                    Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10</a>
                            </div>
                            <div class="product-brand">ASUS</div>
                            <div class="product-price">$474.27 <small>Save $95.13 (17%)</small></div>
                            <div class="product-rating">4.5 Stars <a href="reviews.html">(10 Reviews)</a></div>
                            <div class="delivery">FREE Delivery By Amazona</div>

                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img class="product-image" src="images/laptop/L4.jpg" alt="product" />
                            <div class="product-name">
                                <a href="product.html">Lenovo Ideapad Slim 3i Intel Core i3 10th Gen 15.6 inch FHD Thin
                                    and Light Laptop</a>
                            </div>
                            <div class="product-brand">Lenovo</div>
                            <div class="product-price">$474.27 <small>Save $95.13 (17%)</small></div>
                            <div class="product-rating">4.5 Stars <a href="reviews.html">(10 Reviews)</a></div>
                            <div class="delivery">FREE Delivery By Amazona</div>

                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img class="product-image" src="images/laptop/L5.jpg" alt="product" />
                            <div class="product-name">
                                <a href="product.html">Lenovo Ideapad Slim 3i Intel Core i3 10th Gen 15.6 inch FHD Thin
                                    and Light Laptop</a>
                            </div>
                            <div class="product-brand">Lenovo</div>
                            <div class="product-price">$474.27 <small>Save $95.13 (17%)</small></div>
                            <div class="product-rating">4.5 Stars <a href="reviews.html">(10 Reviews)</a></div>
                            <div class="delivery">FREE Delivery By Amazona</div>

                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img class="product-image" src="images/laptop/L6.jpg" alt="product" />
                            <div class="product-name">
                                <a href="product.html">Lenovo Ideapad Slim 3i Intel Core i3 10th Gen 15.6 inch FHD Thin
                                    and Light Laptop</a>
                            </div>
                            <div class="product-brand">Lenovo</div>
                            <div class="product-price">$474.27 <small>Save $95.13 (17%)</small></div>
                            <div class="product-rating">4.5 Stars <a href="reviews.html">(10 Reviews)</a></div>
                            <div class="delivery">FREE Delivery By Amazona</div>

                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img class="product-image" src="images/laptop/L7.jpg" alt="product" />
                            <div class="product-name">
                                <a href="product.html">Lenovo Ideapad Slim 3i Intel Core i3 10th Gen 15.6 inch FHD Thin
                                    and Light Laptop</a>
                            </div>
                            <div class="product-brand">Lenovo</div>
                            <div class="product-price">$474.27 <small>Save $95.13 (17%)</small></div>
                            <div class="product-rating">4.5 Stars <a href="reviews.html">(10 Reviews)</a></div>
                            <div class="delivery">FREE Delivery By Amazona</div>

                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img class="product-image" src="images/laptop/L8.jpg" alt="product" />
                            <div class="product-name">
                                <a href="product.html">Lenovo Ideapad Slim 3i Intel Core i3 10th Gen 15.6 inch FHD Thin
                                    and Light Laptop</a>
                            </div>
                            <div class="product-brand">Lenovo</div>
                            <div class="product-price">$474.27 <small>Save $95.13 (17%)</small></div>
                            <div class="product-rating">4.5 Stars <a href="reviews.html">(10 Reviews)</a></div>
                            <div class="delivery">FREE Delivery By Amazona</div>

                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img class="product-image" src="images/laptop/L9.jpg" alt="product" />
                            <div class="product-name">
                                <a href="product.html">Lenovo Ideapad Slim 3i Intel Core i3 10th Gen 15.6 inch FHD Thin
                                    and Light Laptop</a>
                            </div>
                            <div class="product-brand">Lenovo</div>
                            <div class="product-price">$474.27 <small>Save $95.13 (17%)</small></div>
                            <div class="product-rating">4.5 Stars <a href="reviews.html">(10 Reviews)</a></div>
                            <div class="delivery">FREE Delivery By Amazona</div>

                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img class="product-image" src="images/laptop/L10.jpg" alt="product" />
                            <div class="product-name">
                                <a href="product.html">Lenovo Ideapad Slim 3i Intel Core i3 10th Gen 15.6 inch FHD Thin
                                    and Light Laptop</a>
                            </div>
                            <div class="product-brand">Lenovo</div>
                            <div class="product-price">$474.27 <small>Save $95.13 (17%)</small></div>
                            <div class="product-rating">4.5 Stars <a href="reviews.html">(10 Reviews)</a></div>
                            <div class="delivery">FREE Delivery By Amazona</div>

                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img class="product-image" src="images/laptop/L11.jpg" alt="product" />
                            <div class="product-name">
                                <a href="product.html">Lenovo Ideapad Slim 3i Intel Core i3 10th Gen 15.6 inch FHD Thin
                                    and Light Laptop</a>
                            </div>
                            <div class="product-brand">Lenovo</div>
                            <div class="product-price">$474.27 <small>Save $95.13 (17%)</small></div>
                            <div class="product-rating">4.5 Stars <a href="reviews.html">(10 Reviews)</a></div>
                            <div class="delivery">FREE Delivery By Amazona</div>

                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img class="product-image" src="images/laptop/L12.jpg" alt="product" />
                            <div class="product-name">
                                <a href="product.html">Lenovo Ideapad Slim 3i Intel Core i3 10th Gen 15.6 inch FHD Thin
                                    and Light Laptop</a>
                            </div>
                            <div class="product-brand">Lenovo</div>
                            <div class="product-price">$474.27 <small>Save $95.13 (17%)</small></div>
                            <div class="product-rating">4.5 Stars <a href="reviews.html">(10 Reviews)</a></div>
                            <div class="delivery">FREE Delivery By Amazona</div>

                        </div>
                    </li>

                </ul>
            </div>

        </main>
        <footer class="footer">
            All Right reserved.
        </footer>
    </div>
    <script>
        function openMenu() {
            document.querySelector(".sidebar").classList.add("open");
        }

        function closeMenu() {
            document.querySelector(".sidebar").classList.remove("open")
        }
    </script>
</body>

</html>